body {
  font-family: Arial;
  background: linear-gradient(135deg, #4e73df, #1cc88a);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.box {
  background: white;
  padding: 25px;
  width: 320px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: none;
}

button {
  background: #4e73df;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #1cc88a;
}
